.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.vercel/*
/src/lib/i18n/locales/**/*.json
test-results
playwright-report*/
playwright*.json
vite*.mjs
# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

#changesets
.changesets

# generated apis
/src/lib/server/adapters/**/apiclient/**