@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    -webkit-font-smoothing: antialiased;
  }

  html,
  body,
  #theme-container {
    display: flex;
    flex-direction: column;
  }

  body,
  #theme-container {
    flex-grow: 1;
  }

  /* svelte-toast */
  progress {
    --toastBarHeight: 4px;
  }
}

@layer components {
  /* svelte-toast */
  .toast-success {
    --toastBackground: rgb(7, 188, 12);
    --toastBarBackground: rgb(181, 235, 183);
  }
  .toast-success-dark {
    --toastBackground: rgb(7, 188, 12, 0.6);
    --toastBarBackground: rgb(181, 235, 183, 0.6);
  }
  .toast-info {
    --toastBackground: rgb(52, 152, 219);
    --toastBarBackground: rgb(194, 224, 244);
  }
  .toast-info-dark {
    --toastBackground: rgba(52, 152, 219, 0.6);
    --toastBarBackground: rgba(194, 224, 244, 0.6);
  }
  .toast-warning {
    --toastBackground: rgb(241, 196, 15);
    --toastBarBackground: rgb(251, 237, 183);
  }
  .toast-warning-dark {
    --toastBackground: rgba(241, 196, 15, 0.6);
    --toastBarBackground: rgba(251, 237, 183, 0.6);
  }
  .toast-error {
    --toastBackground: rgb(231, 76, 60);
    --toastBarBackground: rgb(248, 202, 197);
  }
  .toast-error-dark {
    --toastBackground: rgba(231, 76, 60, 0.6);
    --toastBarBackground: rgb(248, 202, 197, 0.6);
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--p)) hsl(var(--b3));
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: hsl(var(--b3));
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--p));
}

/* latin */
/* @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../static/fonts/Montserrat-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */
/* latin */
/* @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../static/fonts/Montserrat-Medium.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */
/* latin */
/* @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../static/fonts/Montserrat-SemiBold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */
/* latin */
/* @font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../static/fonts/Montserrat-ExtraBold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */