@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--p)) hsl(var(--b3));
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: hsl(var(--b3));
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--p));
}

/* #__next {
  @apply flex flex-col h-[100vh]
}

.Toastify__toast-theme--colored {
  @apply dark:text-[#e8e6e3]
}

.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--info, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--success, .Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning {
  @apply dark:bg-[#181a1b]/50
}

.Toastify__toast-theme--colored.Toastify__toast--warning {
  @apply dark:bg-[#907508]
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  @apply dark:bg-[#a22114]
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  @apply dark:bg-[#06960a]
}

.Toastify__toast-theme--colored.Toastify__toast--info {
  @apply dark:bg-[#1d6fa5]
}

.Toastify__toast-theme--colored.Toastify__toast--default {
  @apply dark:bg-[#181a1b]
} */